* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(182, 255, 182);
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    background-color: #ddffe7;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
    text-align: center;
    margin-bottom: 20px;
}

.login h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

form .mb-3 {
    margin-bottom: 20px;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4fff7;
}

.input-group .input-group-text {
    padding: 10px;
    background-color: #85c498;
    border: none;
    border-right: 1px solid #ccc;
    color: white;
    border-radius: 5px 0 0 5px;
}

form input[type="text"],
form input[type="password"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #f4fff7;
    font-size: 14px;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    border-color: #77d091;
    outline: none;
    background-color: #e6ffe6;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.btn:hover {
    background-color: #45a049;
}

@media (max-width: 400px) {
    .login {
        width: 100%;
        padding: 20px;
    }
}

#display-data {
    display: none;
    margin-top: 20px;
    background-color: #ddffe7;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #333;
    width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#display-data p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}

#display-data p:last-child {
    margin-bottom: 0;
}

#display-data strong {
    color: #333;
    font-weight: bold;
}
